
* {
  margin: 0;
  padding: 0;
}


.container {
position: relative;
  display: grid;
  
  // grid-template-areas:
  //   "header header header"
  //   "nav article ads"
  //   "footer footer footer";
  grid-template-rows: 70px 250px 150px repeat(auto-fit, 320px);
  grid-template-columns: 320px 320px 320px;
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  width: 960px;
  margin: 0 auto;
}
	
.logo-link {
	align-self: center;
	justify-self: start;
	width: 150px;
	grid-column: 1/2;
	grid-row: 1/2;
}
.logo {
	width: 150px;
 }

.header__search {
	grid-column: 2/3;
	grid-row: 1/2;
	align-self: center;
	justify-self: center;
	
}
.header__search-input {
	width: 180px;
	height: 25px;
}


.header__button {
	grid-column: 3/4;
	grid-row: 1/2;
	width: 200px;
	align-self: center;
	justify-self: end;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-link {
	display: block;
}
  
.img-lk {
	border-radius: 50%;
	width: 30px;
}

.avatar {
	grid-column: 1/2;
	grid-row: 2/3;
	justify-self: center;
	margin-top: 20px;
	&__link {
		
	}
	&__avatar-img {
		border-radius: 50%;
		width: 150px;
		
	}
}



.info {
	grid-column: 2/4;
	grid-row: 2/3;
	
	&__btn-sign-ico-wrapper {
		height: 26px;
	}
	&__btn-sign-ico {
		background-image: url('/img/sprite.png');
		background-position: -350px -377px;
	}
	&__title {
		display: flex;
		align-items: center;
	}
	&__button-wrapper {
		
	}
	&__name {
		font-size: 20px;
	}
	&__btn-ls {
		height: 25px;
		
	}
	&__btn-sign {
		height: 25px;
	}
}

.info__button-wrapper {
	display: block;
	margin-left: 10px;
}



.info__btn-sign-ico-wrapper {
	height: 26px;
}
.info__btn-sign-ico {
	
	background-image: url(/img/sprite.png);
	
	height: 15px;
	width: 15px;
	background-position: -700px -750px;
}

.public-stat {
	height: 50px;
	margin-top: 25px;
}

.list {
	display: flex;
	list-style: none;
	font-size: 18px;
}
.list > li {
	margin-right: 40px;
}

.info-user {
	&__name {
		font-size: 20px;
	}
	&__link {
		line-height: 30px;
		font-size: 18px;
	}
	&__youtube {
		display: block;
		font-size: 18px;
		text-decoration: none;
		color: #3819e9;
	}
}

.followers {
	font-size: 14px;
	margin-top: 20px;
}

.albums {
	display: flex;
	justify-content: space-between;
	grid-column: 1/4;
	grid-row: 3/4;
	align-items: center;
	
	&__visible {
		width: 120px;
		text-align: center;
	}
	&__img-wrapper {
		margin-bottom: 10px;
	}
	&__img {
		border-radius: 50%;
	}
	&__name {

	}
}

.content {
	justify-self: center;
	align-self: center;
	&__img {
		max-width:100%; 
		height:auto;
	}
}


