
* {
  margin: 0;
  padding: 0;
}


.container {
position: relative;
  display: grid;
  
  // grid-template-areas:
  //   "header header header"
  //   "nav article ads"
  //   "footer footer footer";
  grid-template-rows: 70px repeat(auto-fit, 500px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column dense;
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  width: 960px;
  margin: 0 auto;
}

.news-content {
	justify-self: center;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-end: span 3;
	margin-bottom: 40px;
	&__border {
		margin-top: -5px;
		border: 1px solid rgb(199, 199, 199);
		border-radius: 5px;
	}
	&__twit {
		display: flex;
		justify-content: space-between;
	}
	&__img {
		width: 100%;
	}
	&__svg {
		margin: 7px;
	}
	&__comment {
		padding: 0 20px 0 10px;
	}
	&__comment-form {
		display: flex;
		justify-content: space-between;
		padding: 20px 10px 0 10px;
	}

	&__chat-form {
        display: flex;
        align-items: center;
        padding: 20px 20px;
    }
      
    &__chat-form-input {
		display: block;
		resize: none;
		outline: none;
		width: 500px;
		height: 60px;
		max-height: 80px;
		border: none;
        flex-grow: 2;
		box-sizing: border-box;
    }
    &__chat-form-input::placeholder {
        color: #cccccc;
      }
    &__chat-form-input:hover {
        border-color: #deecf8;
        outline: none;
      }
    &__chat-form-input:focus {
        border-color: #3897f0;
        outline: none;
      }
	
	&__chat-form-button {
        padding: 9px 20px;
        color: #ffffff;
        background-color: #3897f0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        border: 2px solid transparent;
        user-select: none;
        outline: none;
        cursor: pointer;
      }
    &__chat-form-button:hover {
        background-color: #c4c4c4;
        box-shadow: 0 8px 4px rgba(0, 0, 0, 0.15);
      }
    &__chat-form-button:focus {
        border-color: 2px solid #9edcff;
      }
}

.stories {
	position: relative;
	margin-left: 30px;
	&__users-wrapper {
		height: 200px;
		overflow-y: scroll;
	}
	
	&__wrapper {
		position: fixed;
		width: 282px;
		
	}
	&__name {
		margin-top: 8px;
		color: black;
	}
	&__info {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    &__avatar{
        display: flex;
	}
	&__img {
		width: 50px;
		border-radius: 50%;
	}
    &__name {
		margin-top: 20px;
		margin-left: 10px;
		a {
			display: block;
			text-decoration: none;
			font-weight: bold;
			vertical-align: middle;
			color: black;
		}
	}

	&__subwrapper {
		border: 1px solid rgb(199, 199, 199);
		margin-bottom: 20px;
	}
	&__link {
		display: flex;
		justify-content: space-between;
		padding: 20px 10px 10px 20px;
	}

	&__all {
		display: block;
		text-decoration: none;
		color: grey;
		
	}
	&__other {
		display: block;
		text-decoration: none;
		color: black;
		font-weight: bold;
		font-size: 14px;
	}
	&__users {
		padding: 5px 10px 10px 20px;
	}
	&__username {
		
		padding: 8px;
	}
	&__username-firstname > a {
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	&__username-time > a {
		text-decoration: none;
		color:  rgb(139, 139, 139);
	}
	
}



	
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__avatar{
        display: flex;
	}
	&__img {
		width: 50px;
	}
    &__name {
		margin-top: 20px;
		a {
			display: block;
			text-decoration: none;
			font-weight: bold;
			vertical-align: middle;
		}
    }
    &__city {
		margin-bottom: 25px;
		a{
			text-decoration: none;
		}
        a::before {
            content: '';
            display: inline-block;
			vertical-align: middle;
			
            width: 15px;
            height: 15px;
            background: url('/img/location.png') center (center/cover) no-repeat;
		}
	}
	&__img {
		margin: 10px;
		border-radius: 50%;
	}
	&__sign-wrapper{
		width: 200px;
		margin-right: 20px;
	}
	&__sign {
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		font-size: 16px;
		font-weight: 600;
		line-height: 26px;
		outline: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: none;
		white-space: nowrap;
		width: 100%;
		background: #3897f0;
		border-color: #3897f0;
		color: #fff;
		padding: 0 12px;
		cursor: pointer;
	}
	
}

.header__info {
	justify-content: start;
}




.logo-link {
	align-self: center;
	justify-self: start;
	width: 150px;
	grid-column: 1/2;
	grid-row: 1/2;
}
.logo {
	width: 150px;
 }

.header__search {
	grid-column: 2/3;
	grid-row: 1/2;
	align-self: center;
	justify-self: center;
	
}
.header__search-input {
	width: 180px;
	height: 25px;
}


.header__button {
	grid-column: 3/4;
	grid-row: 1/2;
	width: 200px;
	align-self: center;
	justify-self: end;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-link {
	display: block;
}
  
.img-lk {
	border-radius: 50%;
	width: 30px;
}

.avatar {
	grid-column: 1/2;
	grid-row: 2/3;
	justify-self: center;
	margin-top: 20px;
	&__link {
		
	}
	&__avatar-img {
		border-radius: 50%;
		width: 150px;
		
	}
}



.info {
	grid-column: 2/4;
	grid-row: 2/3;
	
	&__btn-sign-ico-wrapper {
		height: 26px;
	}
	&__btn-sign-ico {
		background-image: url('/img/sprite.png');
		background-position: -350px -377px;
	}
	&__title {
		display: flex;
		align-items: center;
	}
	&__button-wrapper {
		
	}
	&__name {
		font-size: 20px;
	}
	&__btn-ls {
		height: 25px;
		
	}
	&__btn-sign {
		height: 25px;
	}
}

.info__button-wrapper {
	display: block;
	margin-left: 10px;
}



.info__btn-sign-ico-wrapper {
	height: 26px;
}
.info__btn-sign-ico {
	
	background-image: url(/img/sprite.png);
	
	height: 15px;
	width: 15px;
	background-position: -700px -750px;
}

.public-stat {
	height: 50px;
	margin-top: 25px;
}

.list {
	display: flex;
	list-style: none;
	font-size: 18px;
}
.list > li {
	margin-right: 40px;
}

.info-user {
	&__name {
		font-size: 20px;
	}
	&__link {
		line-height: 30px;
		font-size: 18px;
	}
	&__youtube {
		display: block;
		font-size: 18px;
		text-decoration: none;
		color: #3819e9;
	}
}

.followers {
	font-size: 14px;
	margin-top: 20px;
}





